<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v="http://www.w3.org/1999/xhtml">
<head th:insert="~{index::menu-title}"></head>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<body>
<div class="container clearfix" id="car_vue">
    <div class="sidebar-wrap">
        <div th:insert="~{index::menu-menu}"></div>
    </div><!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a th:href="index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">车辆管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form >
                    <table class="search-tab">
                        <tr>
                            <th width="70">车号:</th>
                            <td><input class="common-text" placeholder="车号" id="carNumber" name="carNumber" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="button" onclick="getCarList()"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a th:href="insert"><i class="icon-font"></i>新增车辆</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>车牌</th>
                            <th>司机</th>
                            <th>司机电话</th>
                            <th>住址</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="car in carList">
                            <td> {{ car.id }}</td>
                            <td> {{ car.carNumber }}</td>
                            <td> {{ car.carDriver }}</td>
                            <td> {{ car.carDriverPhone }}</td>
                            <td> {{ car.carDriverAddress }}</td>
                        </tr>
                        </tbody>
                    </table>
<!--                    <div class="list-page">-->
<!--                        共${tsum}条，当前 ${cpage}/${tpage} 页-->
<!--                        <a href="admin_douserselect?cp=1${searchParams}">首页</a>-->
<!--                        <a href="admin_douserselect?cp=${cpage - 1 < 1 ? 1:cpage - 1}${searchParams}">上一页</a>-->
<!--                        <a href="admin_douserselect?cp=${cpage + 1 > tpage ? tpage : cpage + 1}${searchParams}">下一页</a>-->
<!--                        <a href="admin_douserselect?cp=${tpage}${searchParams}">尾页</a>-->

<!--                    </div>-->
                    <div th:class="list-page">
                        <span>共{{pages}}页</span>
<!--                        <span th:text="'当前第' + (${pageNo} + '页')"></span>-->
                        <span>当前第{{pageNo}}页</span>
<!--                        <a th:href="@{/getCarList(pageNO=1)}">首页</a>-->
                        <a v:if="pageNo == 1" th:href="@{/carView(pageNo=1)}" th:onclick="getCarList()">
                            首页
                        </a>
<!--                        <span th:if="${pageNo} != 1">-->
<!--                            <a th:href="@{/getCarList(pageNo=${pageNo} - 1)}"> 上一页 </a>-->
<!--                        </span>-->
                        <span v:if="{{pageNo}} == 1">
                            <a th:href="@{/carView(pageNo = 2 - 1)}" th:onclick="getCarUpList()">
                                上一页
                            </a>
                        </span>
                        <span>
                            <a th:href="@{/getCarList(pageNo=3 + 1)}" th:onclick="getCarList()">
                                下一页
                            </a>
                        </span>
                        <a th:href="@{/carView(pageNo=pages)}">尾页</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>

</body>
<script th:inline="javascript">
    var carVue = new Vue({
        el: "#car_vue",
        data: {
            carList: [],
            pageNo:1,
            pages:2
        },
        methods: {

        }
    });

    $(function () {
        getCarList();
    });

    function getCarList() {
        var carNumber = $("#carNumber").val();  // $("#carNumber") 通过 id 查找对应页面元素  .val() 获取元素value值方法  并付给名字为carNumber1 的变量
        var param = {};                          // 定义JSON变量
        var url = "/getCarList"               // 后台接收controller 地址
        param.carNumber = carNumber;            // 给json变量传入参数   key为： carNumber（后台接收controller的id名字）   value为： carNumber1
        param.pageNo = $("#pageNo").val();
        $.ajax({
            url: url,
            type: "POST",                         // 请求类型 常用 GET、POST  ,  Springboot  get请求对应  @GetMapping（等同于 @RequestMapping(method = Requst.GET)）     post请求对应 @PostMapping   （等同于 @RequestMapping(method = Requst.POST)）
            dataType: "JSON",                    // 后台返回数据类型  常用 JSON、String
            data: "JSON",                         // 后台接收参数
            success: function(result) {
                console.log(result);             // ajax 调用成功返回的方法  result为返回的参数，名字不固定
                carVue.$data.carList = result.carEntityList;
                //carVue.$data.carList = result.carList; 原先的
                carVue.$data.pageNo = result.pageNo;
                carVue.$data.pages = result.pages;

            },
            error: function(err) {               // ajax 调用失败返回的方法  err为返回的参数，名字不固定
            }
        });
    }
    $(function () {
        getCarUpList();
    });

    function getCarUpList() {
        var carNumber = $("#carNumber").val();  // $("#carNumber") 通过 id 查找对应页面元素  .val() 获取元素value值方法  并付给名字为carNumber1 的变量
        var param = {};                          // 定义JSON变量

        var url = "/getCarList"               // 后台接收controller 地址
        param.pageNo = $("#pageNo").val();
        param.carNumber = carNumber;            // 给json变量传入参数   key为： carNumber（后台接收controller的id名字）   value为： carNumber1
        $.ajax({
            url: url,
            type: "POST",                         // 请求类型 常用 GET、POST  ,  Springboot  get请求对应  @GetMapping（等同于 @RequestMapping(method = Requst.GET)）     post请求对应 @PostMapping   （等同于 @RequestMapping(method = Requst.POST)）
            dataType: "JSON",                    // 后台返回数据类型  常用 JSON、String
            data: "JSON",                         // 后台接收参数
            success: function(result) {
                console.log(result);             // ajax 调用成功返回的方法  result为返回的参数，名字不固定
                carVue.$data.carList = result.carEntityList;
                //carVue.$data.carList = result.carList; 原先的
                carVue.$data.pageNo = result.pageNo;
                carVue.$data.pages = result.pages;

            },
            error: function(err) {               // ajax 调用失败返回的方法  err为返回的参数，名字不固定
            }
        });
    }

</script>
</html>