<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index::menu-title}">
<!--    <script src="/laydate/laydate.js"></script>-->
<!--    <link rel="stylesheet" href="../static/laydate/theme/default/laydate.css">-->
</head>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

<body>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div th:insert="~{index::menu-menu}"></div>
    </div><!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a th:href="index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">订单管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form method="get" action="/orderLists">
                    <table class="search-tab">
                        <tr>
                            <th width="70">日期:</th>
                            <td><input class="common-text" placeholder="日期" id="test1" name="text1" type="text" ></td>
<!--                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>-->
                            <th width="70">车号:</th>
                            <td><input class="common-text" placeholder="车号" id="orderCar" name="orderCar" type="text" th:value="${searchKeyCar}"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
<!--                        <tr>-->
<!--                            <th width="70">车号:</th>-->
<!--                            <td><input class="common-text" placeholder="车号" id="orderCar" name="orderCar" type="text" th:value="${searchKeyCar}"></td>-->
<!--                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>-->
<!--                        </tr>-->
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post" action="/orderAdd">
                <div class="result-title">
                    <div class="result-list">
                        <a th:href="orderInsert"><i class="icon-font"></i>添加订单</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <thead>
                        <tr>
                            <!--                            <th>车牌</th>-->
                            <th>订单日期</th>
                            <th>货主</th>
                            <th>货物</th>
                            <th>装货地点</th>
                            <th>在朝卸货点</th>
                            <th>代理</th>
                            <th>过磅</th>
                            <th>大物流</th>
                            <th>安检</th>
                            <th>海关</th>
                            <th>中超</th>
                            <th>晚超</th>
                            <th>仓库长</th>
                            <th>仓库票</th>
                            <th>工人</th>
                            <th>出口岸</th>
                            <th>坐车</th>
                            <th>叉车</th>
                            <th>消毒费</th>
                            <th>押车</th>
                            <th>封锁</th>
                            <th>留朝</th>
                            <th>留朝停车</th>
                            <th>口岸停车</th>
                            <th>小物流</th>
                            <th>代理费</th>
                            <th>花园保税库</th>
                            <th>领道费</th>
                            <th>场地费</th>
                            <th>运费</th>
                            <th>司机结算</th>
                            <th>结账状态</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="car:${cars}">
                            <!--                            <td th:text="${car.carNumber}"></td>-->
<!--                            <td th:text="${car.driverName}"></td>-->
<!--                            <td th:text="${car.driverPhoneNumber}"></td>-->
<!--                            <td th:text="${car.driverAddress}"></td>-->
<!--                            <td th:text="${car.driverIDCard}"></td>-->

                        </tr>

                        </tbody>
                    </table>
                    <div th:class="list-page">
<!--                        <span th:text="'共' + (${pages}) + '页'"></span>-->
<!--                        <span th:text="'当前第' + (${pageNo} + '页')"></span>-->
<!--                        <a th:href="@{/dirverLists(pageNO=1)}">首页</a>-->
<!--                        <span th:if="${pageNo} != 1">-->
<!--                            <a th:href="@{/dirverLists(pageNo=${pageNo} - 1)}"> 上一页 </a>-->
<!--                        </span>-->
<!--                        <span th:if="${pageNo} != ${pages}">-->
<!--                            <a th:href="@{/dirverLists(pageNo=${pageNo} + 1)}"> 下一页 </a>-->
<!--                        </span>-->
<!--                        <a th:href="@{/dirverLists(pageNo=${pages})}">尾页</a>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>

</body>
<script th:inline="javascript">
    function findOrder() {
        var orderDate = $("#orderDate").val();  // $("#carNumber") 通过 id 查找对应页面元素  .val() 获取元素value值方法  并付给名字为carNumber1 的变量
        var orderCar = $("#orderCar").val();
        // console.log(orderDate);                  // 后台输出参数值
        var param = {};                          // 定义JSON变量
        var url = "/orderLists"               // 后台接收controller 地址

        param.orderDate = orderDate;            // 给json变量传入参数   key为： carNumber（后台接收controller的id名字）   value为： carNumber1
        param.orderCar = orderCar;
        $.ajax({
            url: url,
            type: "GET",                         // 请求类型 常用 GET、POST  ,  Springboot  get请求对应  @GetMapping（等同于 @RequestMapping(method = Requst.GET)）     post请求对应 @PostMapping   （等同于 @RequestMapping(method = Requst.POST)）
            dataType: "JSON",                    // 后台返回数据类型  常用 JSON、String
            data: param,                         // 后台接收参数
            success: function(result) {
                console.log(result);             // ajax 调用成功返回的方法  result为返回的参数，名字不固定
            },
            error: function(err) {               // ajax 调用失败返回的方法  err为返回的参数，名字不固定
            }
        });
    }
</script>
<script src="\laydate\laydate.js"></script> <!-- 改成你的路径 -->
<script>
    // lay('#version').html('-v'+ laydate.v);

    //执行一个laydate实例
    laydate.render({
        elem: '#test1' //指定元素
    });

</script>
</html>