<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<script src="${pageContxt.request.contextPath}/jquery-3.3.1/jquery-3.3.1.min.js"></script>-->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</head>
<body>

<p>这个页面使用的是json的传输:</p>
<form th:action="@{/} " th:method="post">
    id:<input id="id" type="text" name="id"><br/>
    name:<input id="name" type="text" name="name"><br/>
    age:<input id="age" type="text" name="age"><br/>
</form>
<button onclick="addCar()">提交json</button>
<script>

    function addCar() {
        var carNumber = $("#carNumber").val();
        // var name = $("#name").val().trim();
        // var age = $("#age").val().trim();

        // console.log("id:" + id + "  name:" + name + "  age:" + age);

        // var car = {
        //     carNumber:carNumber,carDriverId:""
        // }

        $.ajax({

            type:"post",
            url:"/addCar",
            datatype:"json",
            data:{ids:JSON.toString(carNumber)},
            success:function(data){
                alert(data) ;
            }
        });

    }

</script>

</body>
</html>