<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carmanage.carDao.CarListDao">
    <resultMap id="BaseResultMap" type="CarListEntityEx"></resultMap>
    <select id="carListPage" resultType="com.carmanage.entity.EX.CarListEntityEx" parameterType="com.carmanage.entity.EX.CarListEntityEx">
        select *
        from carList
        left join driverList on carList.carDriverId=driverList.driverId
        left join licenseplatearealist on carList.carLicensePlateAreaCode=licenseplatearealist.licensePlateAreaCode
        <where>
            <if test="carNumber != null and carNumber != ''">
                carNumber like concat('%', #{carNumber}, '%')
            </if>
        </where>
    </select>
    <select id="findCar" resultType="com.carmanage.entity.CarListEntity" parameterType="com.carmanage.entity.CarListEntity">
        select * from carList where carNumber like concat(#{carNumber}, '%')
    </select>
    <insert id="carAdd" parameterType="com.carmanage.entity.CarListEntity">
        insert into carList (carNumber,carLicensePlateAreaCode)values (#{carNumber},#{carLicensePlateAreaCode})
    </insert>
    <select id="selectCarByCarId" resultType="com.carmanage.entity.EX.CarListEntityEx">
        select *
        from carList
                 left join driverList on carList.carDriverId=driverList.driverId
        where carId = #{carId}
    </select>
    <update id="updateCarByCarId" parameterType="com.carmanage.entity.CarListEntity">
        update carList
        set carDriverId=#{carDriverId} ,
            carLicensePlateAreaCode=#{carLicensePlateAreaCode},
            carNumber=#{carNumber}
        where carId=#{carId}
    </update>


</mapper>
